.navbar {
    background-color: transparent;
    height: 80px;
    display: flex;
    padding-right: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: transparent;
    color: white;
}

.nav-menu {
    /* background-color: #060b26; */
    backdrop-filter: blur(5px);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 100;
}

.nav-menu.active {
    right: 0;
    transition: 350ms;
    
}

.nav-text {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    /* float: right; */
    /* flex-direction: column; */
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    border-radius: 4px;

    
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background: transparent;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-right: 16px;
}

.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}